<div class="row">
  <div class="col-sm-1">
    <div class="thumbnail">
      <% if comment.user.avatar? -%>
          <img class="img-responsive user-photo" src="<%= comment.user.avatar %>">
      <% else -%>
          <img class="img-responsive user-photo" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
      <% end -%>
    </div>
  </div>

  <div class="col-sm-11">
    <div class="panel panel-default">
      <div class="panel-heading">
        <strong><%= comment.user.email %></strong>
        <span class="text-muted"> commented <%= comment.created_at.strftime("%F %T") %></span>
      </div>
      <div class="panel-body">
        <%= comment.body %>
        <% if current_user.admin? or current_user === comment.user %>
            <br>
            <span class="pull-right">
          <%= link_to '<i class="fa fa-lg fa-trash" style="color: black;"></i>'.html_safe, [comment.article, comment],
                      method: :delete,
                      data: {confirm: 'Vas a eliminar un comentario ¿Estás seguro?'}
          %>
        </span>
        <% end %>
      </div>
    </div>
  </div>
</div>