<div class="row">
  <div class="col-sm-1">
    <div class="thumbnail">
      <% if current_user.avatar %>
          <img class="img-responsive user-photo" src="<%= current_user.avatar %>">
      <% else %>
          <img class="img-responsive user-photo" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
      <% end %>
    </div>
  </div>
  <div class="col-sm-11">

    <%= simple_form_for([@article, @article.comments.build]) do |f| %>
        <%= f.input :user_id, :as => :hidden, value: current_user.id %>
        <%= f.input :commenter, :as => :hidden, value: current_user.email %>
        <%= f.input :body, placeholder: "Comment", label: false %>
        <hr style="margin-top: 5%; border-top: 2px solid #eeeeee; width: 100%;">
        <center>
          <%= button_tag(:class => "btn btn-lg btn-primary boton-publicar") do %>
              <i class="fa fa-lg fa-paper-plane-o"></i>
          <% end %>
        </center>
    <% end %>
  </div>
</div>