<div class="row">
  <div class="col-sm-10 col-sm-offset-1">
    <%= form_for @article do |f| %>
        <% if @article.errors.any? %>
            <div id="error_explanation">
              <h4>
                <%= pluralize(@article.errors.count, "error") %>
                prohibited this article from being saved:
              </h4>
              <ul>
                <% @article.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
              </ul>
            </div>
        <% end %>

        <%= f.text_field :title, placeholder: "Escriba un título", class: "form-control", title: "Título" %>
        <%= f.text_area :text, placeholder: "Escriba un artículo", class: "form-control", style: "margin-top: 1%;", rows: "10", title: "Artículo" %>

        <hr style="margin-top: 5%; border-top: 2px solid #eeeeee; width: 100%;">
        <center>
          <%= button_tag(:class => "btn btn-lg btn-primary boton-publicar") do %>
              <i class="fa fa-lg fa-paper-plane-o"></i>
          <% end %>
        </center>

    <% end %>
  </div>
</div>