<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <h1>Editar artículo</h1>
  </div>
</div>

<%= render 'form' %>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="text-center">
      <%= link_to 'Volver', articles_path %>
    </div>
  </div>
</div>