<div class="row inicio">
  <div class="col-md-10 col-md-offset-1">
    <h1 class="titulo-sitio">Blog</h1>

    <hr style="margin-top: 3%;">
    <center>
      <%= link_to '<i class="fa fa-lg fa-pencil-square-o"></i>'.html_safe, new_article_path, class: "btn btn-lg btn-primary boton-publicar" %>
    </center>
  </div>
</div>


<div class="row" style="margin-top: 2%;">
  <div class="col-md-10 col-md-offset-1">
    <div class="row">
      <% @articles.each do |article| %>
          <div class="articulo col-md-6">
            <div class="panel">
              <div class="panel-heading">
                <div class="text-center">
                  <div class="row">
                    <div class="col-sm-12">
                      <h3 class="pull-left"><%= article.title %></h3>
                    </div>
                  </div>
                </div>
              </div>

              <div class="panel-body">
                <%= truncate(article.text, :length => 350, :omission => '...') %><br><br>
                <small class="pull-left">
                  <em><%= article.user.email %></em>
                </small>
                <small class="pull-right">
                  <em><%= article.created_at %></em>
                </small>
              </div>

              <div class="panel-footer">
                <div class="btn-group btn-group-justified">
                  <%= link_to article_path(article), class: "btn btn-sm btn-primary", type: "button" do %>
                      <i class="fa fa-lg fa-file"></i>
                  <% end %>
                  <% if current_user && current_user.admin? %>
                      <%= link_to edit_article_path(article), class: "btn btn-sm btn-primary", type: "button" do %>
                          <i class="fa fa-lg fa-pencil-square-o"></i>
                      <% end %>

                      <%= link_to article_path(article), method: :delete, data: {confirm: '¿Estás seguro? Vas a eliminar un artículo'}, class: "btn btn-sm btn-primary", type: "button" do %>
                          <i class="fa fa-lg fa-trash"></i>
                      <% end %>
                  <% end %>
                </div>

              </div>
            </div>
          </div>
      <% end %>
    </div>
  </div>
</div>