<div class="row" style="margin-top: 2%;">
  <div class="col-md-10 col-md-offset-1">
    <div class="row">
      <div class="articulo col-md-12">
        <ol class="breadcrumb">
          <li class="false"><a class="pjax" href="http://127.0.0.1:3000/">Home</a></li>
          <li class="active"><%= @article.title %></li>
        </ol>
      </div>
    </div>
    <div class="row">
      <div class="articulo col-md-8">
        <%= render "partials/article" %>
      </div>
      <div class="col-md-4">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <div id="comments" class="timer_box">
              <h1><%= @article.comments.count %></h1>
              <p>Comments</p>
            </div>
          </div>
          <div class="col-md-8 col-md-offset-2">
            <div id="viewes" class="timer_box">
              <h1><%= @article.has_seens.count || 0 %></h1>
              <p>Visits</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <h3>Comments</h3>
    <%= render @article.comments %>

    <%= render "comments/form" %>

    <div class="text-center" style="margin-top: 1%;">
      <%= link_to 'Back', articles_path %> | <%= link_to 'Edit', edit_article_path(@article) %>
    </div>
  </div>
</div>
</div>