<div class="panel">
  <div class="panel-heading">
    <div class="text-center">
      <div class="row">
        <div class="col-sm-12">
          <h3 class="pull-left"><%= @article.title %></h3>
        </div>
      </div>
    </div>
  </div>

  <div class="panel-body">
    <%= @article.text %><br><br>
    <small class="pull-left">
      <em><%= @article.user.email %></em>
    </small>
    <small class="pull-right">
      <em><%= @article.created_at.strftime("%F %T") %></em>
    </small>
  </div>
</div>