<header>
  <div class="row">
    <div class="col-md-12">
      <ul class="nav nav-pills">
        <li class="active">
          <%= link_to "Blog", root_path %>
        </li>
        <li>
          <a href="#">Art</a>
        </li>
        <li>
          <a href="#">Dev</a>
        </li>
        <li>
          <a href="#">Tech</a>
        </li>
        <li class="pull-right">
          <% if user_signed_in? %>
              Signed in as
              <% if current_user.admin? %>
                  <b><a class="pjax" href="http://127.0.0.1:3000/admin">Admin</a></b>
              <% else %>
                  <%= current_user.email %>
              <% end %>
              <span class="btn btn-sm btn-danger">
              <%= link_to('<span class="glyphicon glyphicon-off"></span>'.html_safe, destroy_user_session_path, method: 'delete') %>
            </span>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</header>