<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4 text-center devise-box">
      <div class="search-box">
        <div class="caption">
          <h3>Log In</h3>
        </div>
        <%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
            <%= f.input :email, label: false, placeholder: "user@domain.com" %>
            <%= f.input :password, label: false, placeholder: "password" %>
            <% if devise_mapping.rememberable? -%>
                  <%= f.input :remember_me, as: :boolean, inline_label: 'Yes, remember me'%>
            <% end -%>
            <%= f.button :submit, class: "btn btn-block btn-primary", value: "Log In" %>
            <%= render "devise/shared/links", class: "btn btn-block btn-default" %>
        <% end %>
      </div>
    </div>
    <!--
    <div class="col-md-4">
      <div class="aro-pswd_info">
        <div id="pswd_info">
          <h4>Password must be requirements</h4>
          <ul>
            <li id="letter" class="invalid">At least <strong>one letter</strong></li>
            <li id="capital" class="invalid">At least <strong>one capital letter</strong></li>
            <li id="number" class="invalid">At least <strong>one number</strong></li>
            <li id="length" class="invalid">Be at least <strong>8 characters</strong></li>
            <li id="space" class="invalid">be<strong> use [~,!,@,#,$,%,^,&,*,-,=,.,;,']</strong></li>
          </ul>
        </div>
      </div>
    </div>
    -->
  </div>
</div>
