/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets"
@import "bootstrap"

@keyframes fade
  0%
    opacity: 0
  100%
    opacity: 1

body
  font-family: 'Open Sans', Helvetica, Arial, sans-serif
  animation-name: fade
  animation-duration: 2s

.nav
  padding: 30px 15px 30px 15px
.titulo-sitio
  text-align: center
  text-transform: uppercase

.inicio
  hr
    border-top: 2px solid #eeeeee
    width: 100%
  .boton-publicar
    text-align: center
    padding: 15px
    border-radius: 50%
    color: white
    margin-top: -60px
    transition: transform 0.5s, background-color 0.5s, color 0.5s, border-color 0.5s
  .boton-publicar:hover
    transform: rotate(360deg)
    background-color: white
    color: #585450
    border-color: white

.btn
  a, a:visited, a:active, a:checked
    color: white
a:hover
  text-decoration: none

span
  a, a:visited, a:active, a:checked
    color: white

.articulo .panel
  .panel-heading
    padding: 0
  .panel-body
    padding: 0
    text-align: justify
  .panel-footer
    padding: 0
    .btn-group
      .btn
        border-radius: 0

.btn-primary
  color: white
  background-color: #585450
  transition: background-color 1s
  border-color #585450
  :focus
    background-color: #585450
  :hover
    background-color: #585450

.nav-pills
  li.active
    a, a:hover, a:focus
      background-color: #585450

a
  color: #585450