@keyframes fade
  0%
    opacity: 0
  100%
    opacity: 1

body
  font-family: 'Open Sans', sans-serif
  animation-name: fade
  animation-duration: 2s

hr
  border-top: 2px solid #eeeeee
  width: 100%

.titulo-sitio
  text-align: center
  text-transform: uppercase

.btn.boton-publicar
  text-align: center
  padding: 15px
  border-radius: 50%
  color: white
  margin-top: -60px
  transition: transform 0.5s, background-color 0.5s, color 0.5s, border-color 0.5s

.btn.boton-publicar:hover
  transform: rotate(360deg)
  background-color: white
  color: #585450
  border-color: white

.btn
  a, a:visited, a:active, a:checked
    color: white

a:hover
  text-decoration: none

span
  a, a:visited, a:active, a:checked
    color: white

.articulo .panel
  .panel-heading
    padding: 0
  .panel-body
    padding: 0
    text-align: justify
  .panel-footer
    margin-top: 1%
    padding: 0
    .btn-group
      .btn
        border-radius: 0

.btn-primary
  color: white
  background-color: #585450
  transition: background-color 1s
  border-color #585450
  :focus
    background-color: #585450
  :hover
    background-color: #585450

input.form-control
  border-radius: 0px
  border-width: 0px
  border-bottom-width: 1px
  box-shadow: none
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s

textarea.form-control
  border-radius: 0px
  border-width: 0px
  border-bottom-width: 1px
  border-top-width: 1px
  box-shadow: none
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s

.form-control:hover, .form-control:focus
  box-shadow: none

#error_explanation
  color: #a94442
  background-color: #f2dede
  border-color: #ebccd1
  padding: 15px
  margin-bottom: 20px
  border: 1px solid transparent
  border-radius: 4px
  padding-right: 35px

.timer_box
  margin: 35px 24px
  display: inline-block
  padding: 20px 12px 0px 12px
  text-align: center
  width: 130px
  border-radius: 50%
  border: 4px solid rgba(88, 84, 80, .6)
  h1
    font-size: 48px
    margin-top: 5px
    margin-bottom: 0px
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif
    color: #585450
  p
    margin-top: 0px
    margin-bottom: 20px

.devise-box
  border: 1px #000000 solid
  border-radius: 4px